@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto italic";
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Pixelify";
  src: url("../assets/fonts/Pixelify/PixelifySans-VariableFont_wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  /* font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
  background: url(../assets/images/main.jpeg) no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(4, 65, 4);
}

.header_wrapper{
  height: 100%;
  width: 70%;
  display: flex;
}

.name {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.name a {
  height: fit-content;
  width: fit-content;
}

.name a p {
  margin-left: 1vw;
  color: whitesmoke;
}

.name a i {
  margin-right: 2vw;
  font-size: 30px;
  color: whitesmoke;
}

.navbar {
  height: 100%;
  width: 50%;
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5%;
}

.navbar span {
  color: whitesmoke;
}